


.jumbotron {
    margin-bottom: 0;
    margin-top: 15%;
    border-radius : 5px 5px 0 0;
    padding-bottom: 40px;
    background-color: rgba(255,255,255,.9)
    

}



body {
  background-image: url(/static/images/cook2.jpg);
  background-size: cover;
  background-color: rgba(128, 128, 128, .2);
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 100vh;
  
  
}


.col-md-4 {
  background-color: white;
  text-align:center; 
  padding-top: 20px;
  padding-bottom: 20px; 

}

.col-sm-12 {
    background-color: white;
    text-align:center;  
    padding-top: 20px;
    padding-bottom: 20px; 
}

.nav-1:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Judson', serif;
  font-size: 120%;
  
  
  
}

.nav-2:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Judson', serif;
 font-size: 120%;
  
  
}

.nav-3:hover {
  background-color: rgba(255, 255, 255, 0.3);
  font-family: 'Judson', serif;
  font-size: 120%;
  
}

a {
    text-decoration:none !important;
    font-size:larger;
    color: black;
}

a:hover {
    color: black;

}

.base {
    background-color: #e9ecef;
    border-radius: 0 0 5px 5px;
    padding-top : 20px;
    padding-bottom:20px;
    
}

#sample-body {

    display: none;
    background-color: white;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    margin:0;
    padding:0;
   
    
}

img {
     width:100%;
     
}

