
@media only screen and (max-width: 767px) {

.col-hide {
    display: none;
    
}
}

@media only screen and (max-width: 374px) {

.col-hide-374 {
    display: none;
    
}
}


body {
    background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,1)),url(/static/images/vegetable-outlines.png);
    background-size: cover;
    background-color: white;
    /* background-position: center; */
    background-repeat: no-repeat;
    height: 100vh;
	
}

table {
    background-color: white;
}


	
