{% extends "template_layout.html" %}

{%block head%}

<!-- from uploadcare start guide -->
<script> UPLOADCARE_PUBLIC_KEY = "{{uploadcare_public_key}}"; </script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<!-- end of from uploadcare start guide line -->

<style>
  .uploader-button .uploadcare--widget__button_type_open {
    background-color: #5882e7;
    margin: 10px;
  }
</style>

<!-- --------------------------from uploadcare to limit file size-------------------------->
<!------------------ https://uploadcare.com/docs/file_uploads/widget/v2/validation/------ -->
<script>

function fileSizeLimit(min, max) {
  return function(fileInfo) {
    if (fileInfo.size === null) {
      return
    }
    if (min && fileInfo.size < min) {
      throw new Error('fileMinimalSize')
    }
    if (max && fileInfo.size > max) {
      throw new Error('fileMaximumSize')
    }
  }
}

$(function() {
  $('[role=uploadcare-uploader]').each(function() {
    var input = $(this)

    if (!input.data('minSize') && !input.data('maxSize')) {
      return
    }
    var widget = uploadcare.Widget(input)

    widget.validators.push(fileSizeLimit(input.data('minSize'), input.data('maxSize')))
  })
})

  UPLOADCARE_LOCALE_TRANSLATIONS = {
    errors: {
    fileMinimalSize: 'File is too small',
    fileMaximumSize: 'File is too large',
  },
    
    dialog: {
    tabs: {
      preview: {
        error: {
          fileMinimalSize: {
            title: 'Title.',
            text: 'Text.',
            back: 'Back',
          },
          fileMaximumSize: {
            title: 'Title.',
            text: 'Text.',
            back: 'Back',
          },
        },
      },
    },
  },

    buttons: {
      choose: {
        files: {
          one: 'Upload image'
        }
      }
    }
  }

</script>
<!----------------------------end of from uploadcare to limit file size-------------------------->

<title>Add recipe - Recipesuccess </title>
{%endblock%}

{%block nav %}

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}"> Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('account', user_id=user_id)}}">My Account</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('my_recipes', user_id=user_id)}}">My Recipes</a>
        </li>
    </ul>
</div>

{%endblock%}



{%block content%}

    <h1> Add Recipe </h1>

    <form method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Recipe Name </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="recipe-name"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Cuisine </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="cuisine" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> My Rating </label>
            <div class="col-sm-6">
                <!-- <input class="form-control" type="text" name="my-rating" /> -->
                <select class="custom-select my-1 mr-sm-2" id="my-rating" name="my-rating">
                    <option selected>Choose...</option>
                    <option  value="1"> 1 </option>
                    <option value="2"> 2 </option>
                    <option value="3"> 3 </option>
                    <option value="4"> 4 </option>
                    <option value="5"> 5 </option>
                    <option value="6"> 6 </option>
                    <option value="7"> 7 </option>
                    <option value="8"> 8 </option>
                    <option value="9"> 9 </option>
                    <option value="10"> 10 </option>
                </select>
            </div>
        </div> </br>

        <!-- This is hidden; to return number of steps to method post -->
        <input type="text" id="num-steps-np" name="num-steps-np" style="visibility: hidden;" value="1"/> 
        <!-- This is hidden; to return number of images to method post -->
        <input type="text" id="num-images-np" name="num-images-np" style="visibility: hidden;" value="1"/> 

        <div id="steps-rows">
            <div id="steps-block">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> <b>STEP 1</b> </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="step-0" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Ingredients for Step 1 </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ing-0" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Tools for step 1 </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="tools-0" placeholder="insert if any tool"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <a href="#" id="add-step-np"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#" id="minus-step-np"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                
            </div>
        </div>
        

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Photos </label>
            <div class="col-sm-6" id="image-id">
                <!-- from uploadcare start guide  -->
                <span class="uploader-button">
                    <code>max size per image is 1Mb</code><br/>
                    <input 
                        type="hidden"
                        role="uploadcare-uploader"
                        name="image-0"
                        data-tabs="file camera facebook instagram dropbox gdrive"
                        data-max-size="1048576" />
                </span>
               <!-- end of from uploadcare start guide  -->
            </div>
                
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <a href="#" id="add-image-np" style="color: tomato;" ><i class="fa fa-plus-circle " aria-hidden="true"></i></a>
                <a href="#" id="minus-image-np" style="color: tomato;"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>

        

    </form>
    <a href="{{url_for('my_recipes', user_id=user_id)}}"><button class="btn btn-primary"> Back </button> </a>
   

    <script src="/static/add_recipe.js"></script>




{%endblock%}