{% extends "template_layout.html" %}

{%block head%}

<!-- from uploadcare start guide -->
<script> UPLOADCARE_PUBLIC_KEY = "{{uploadcare_public_key}}"; </script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<!-- end of from uploadcare start guide -->

<style>
  .uploader-button .uploadcare--widget__button_type_open {
    background-color: #5882e7;
    margin: 10px;
  }
</style>

<script>

    //--------------------------from uploadcare to limit file size--------------------------//
    //------------------ https://uploadcare.com/docs/file_uploads/widget/v2/validation/------//

function fileSizeLimit(min, max) {
  return function(fileInfo) {
    if (fileInfo.size === null) {
      return
    }
    if (min && fileInfo.size < min) {
      throw new Error('fileMinimalSize')
    }
    if (max && fileInfo.size > max) {
      throw new Error('fileMaximumSize')
    }
  }
}

$(function() {
  $('[role=uploadcare-uploader]').each(function() {
    var input = $(this)

    if (!input.data('minSize') && !input.data('maxSize')) {
      return
    }
    var widget = uploadcare.Widget(input)

widget.validators.push(fileSizeLimit(input.data('minSize'), input.data('maxSize')))
  })
})

  UPLOADCARE_LOCALE_TRANSLATIONS = {
    errors: {
    fileMinimalSize: 'File is too small',
    fileMaximumSize: 'File is too large',
  },
    
    dialog: {
    tabs: {
      preview: {
        error: {
          fileMinimalSize: {
            title: 'Title.',
            text: 'Text.',
            back: 'Back',
          },
          fileMaximumSize: {
            title: 'Title.',
            text: 'Text.',
            back: 'Back',
          },
        },
      },
    },
  },

    buttons: {
      choose: {
        files: {
          one: 'Upload image'
        }
      }
    }
  }
  //--------------------------end of from uploadcare to limit file size--------------------------//

</script>


{%endblock%}


{% block content %}


    <form method="POST">

        <h2> Delete Existing Photos <h2>
        <small><sup> checked to delete</sup> </small>

        <!-- This is hidden; to return number of images to method post -->
        <input type="text" id="num-images-edit-pg" name="num-images-edit-pg" style="visibility: hidden;" value="1"/> 

        {%for image in get_images.photos %}
            <div class="inline">
                <img src="{{image}}" alt="{{get_images.recipe_name}} photo" height="100" width="100" >
                <input type="checkbox" name="image-exist-{{loop.index0}}" />
                <input type="text" name="image-exist-url-{{loop.index0}}" value="{{image}}" style="visibility: hidden;"  />
            </div>
        {%endfor%}  

        <h2> Add more Photos </h2>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Photos </label>
            <div class="col-sm-6" id="image-id">
                <!-- from uploadcare start guide -->
                <span class="uploader-button">
                    <code>max size per image is 1Mb</code><br />
                    <input 
                        type="hidden"
                        role="uploadcare-uploader"
                        name="image-0"
                        data-tabs="file camera facebook instagram dropbox gdrive"
                        data-max-size="1048576"
                         />
                </span>
                <!-- end of  from uploadcare start guide -->
               
            </div>
                
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <a href="#" id="add-image-edit-pg"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#" id="minus-image-edit-pg"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>

        
    </form> <br>
    <a href="{{url_for('update_recipe', user_id=user_id, recipe_id = recipe_id )}}"><button class="btn btn-primary"> Back </button> </a>


    <script src="/static/edit_images.js"></script>

{% endblock %}