{% extends "template_layout.html" %}

{%block head%}

<!-- from uploadcare start guide -->
<script> UPLOADCARE_PUBLIC_KEY = "{{uploadcare_public_key}}"; </script>
<script src="https://ucarecdn.com/libs/widget/3.x/uploadcare.full.min.js"></script>
<!-- end of from uploadcare start guide -->

<style>
  .uploader-button .uploadcare--widget__button_type_open {
    background-color: #5882e7;
    margin: 10px;
  }
</style>

<script>

    //--------------------------from uploadcare to limit file size--------------------------//
    //------------------ https://uploadcare.com/docs/file_uploads/widget/v2/validation/------//

function fileSizeLimit(min, max) {
  return function(fileInfo) {
    if (fileInfo.size === null) {
      return
    }
    if (min && fileInfo.size < min) {
      throw new Error('fileMinimalSize')
    }
    if (max && fileInfo.size > max) {
      throw new Error('fileMaximumSize')
    }
  }
}

$(function() {
  $('[role=uploadcare-uploader]').each(function() {
    var input = $(this)

    if (!input.data('minSize') && !input.data('maxSize')) {
      return
    }
    var widget = uploadcare.Widget(input)

widget.validators.push(fileSizeLimit(input.data('minSize'), input.data('maxSize')))
  })
})

  UPLOADCARE_LOCALE_TRANSLATIONS = {
    errors: {
    fileMinimalSize: 'File is too small',
    fileMaximumSize: 'File is too large',
  },
    
    dialog: {
    tabs: {
      preview: {
        error: {
          fileMinimalSize: {
            title: 'Title.',
            text: 'Text.',
            back: 'Back',
          },
          fileMaximumSize: {
            title: 'Title.',
            text: 'Text.',
            back: 'Back',
          },
        },
      },
    },
  },

    buttons: {
      choose: {
        files: {
          one: 'Upload image'
        }
      }
    }
  }
  //--------------------------end of from uploadcare to limit file size--------------------------//

</script>


<title>Edit photos - Recipesuccess</title>


{%endblock%}
    
    
{%block nav %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}"> Home </a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('account', user_id=user_id)}}">My Account</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="{{url_for('edit_recipe', user_id=user_id, recipe_id= recipe_id)}}">My Recipe - edit {{get_recipe_name.recipe_name}}</a>
            </li>
        </ul>
    </div>

{%endblock%}

{% block content %}


    <form method="POST">

        
        <div class="d-flex">
        <div class="p-2">
            <h2> Remove photos </h2>
            <small>Check image and submit to remove.</small>
        </div>
        <div class="ml-auto p-2" style="cursor:default;">
              <i class="fa fa-user-circle" aria-hidden="true"></i> {{user_name}}
        </div>
    </div>
        <!-- This is hidden; to return number of images to method post -->
        <input type="text" id="num-images-edit-pg" name="num-images-edit-pg" style="visibility: hidden;" value="1"/> 

        
        <div class="card-columns">
            {%for image in get_images.photos %}
                <div class="card" >
                    <img src="{{image}}"  class="card-img-top" alt="{{get_images.recipe_name}} photo"  >
                    <input type="checkbox" name="image-exist-{{loop.index0}}"  style="position: absolute; right: 0 ; top:0; width: 16px; height: 16px;" />
                    <input type="text" name="image-exist-url-{{loop.index0}}" value="{{image}}" style="visibility: hidden; display: none;"  />
                </div>
            {%endfor%} 
        </div>  <br></br>
         

        <h2> Add photos </h2>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Photos </label>
            <div class="col-sm-2">
                <a href="#" id="add-image-edit-pg" style="color:tomato;"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#" id="minus-image-edit-pg" style="color:tomato;"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div> 
            <div class="col-sm-8" id="image-id">
                <!-- from uploadcare start guide -->
                <span class="uploader-button">
                    <code>max size per image is 1Mb</code><br />
                    <input 
                        type="hidden"
                        role="uploadcare-uploader"
                        name="image-0"
                        data-tabs="file camera facebook instagram dropbox gdrive"
                        data-max-size="1048576"
                         />
                </span>
                <!-- end of  from uploadcare start guide -->
               
            </div>
                
        </div>
        <!-- <div class="form-group row">
            <div class="col-sm-6">
                <a href="#" id="add-image-edit-pg"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#" id="minus-image-edit-pg"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
            </div> 
        </div> -->
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>

        
    </form>
    <a href="{{url_for('update_recipe', user_id=user_id, recipe_id = recipe_id )}}"><button class="btn btn-primary"> Back </button> </a>


    <script src="/static/edit_images.js"></script>

{% endblock %}