{% extends 'template_layout.html' %}

{%block nav %}

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('index')}}"> Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('account', user_id=user_id)}}">My Account</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for('my_recipes', user_id=user_id)}}">My Recipes</a>
        </li>
    </ul>
</div>

{%endblock%}


{%block content%}
    <h1> Edit {{get_recipe.recipe_name}} </h1>

    <form method="POST">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Recipe Name </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="recipe-name" value="{{get_recipe.recipe_name}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Cuisine </label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="cuisine" value="{{get_recipe.cuisine}}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> My Rating </label>
            <div class="col-sm-6">
                <!-- <input class="form-control" type="text" name="my-rating" value="{{get_recipe.my_rating}}" /> -->
                <select class="custom-select my-1 mr-sm-2" id="my-rating" name="my-rating">
                    <!-- <option selected>Choose...</option> -->
                    <option  value="1" {%if get_recipe.my_rating == "1" %} selected {%endif%}> 1 </option>
                    <option value="2" {%if get_recipe.my_rating == "2" %} selected {%endif%}> 2 </option>
                    <option value="3" {%if get_recipe.my_rating == "3" %} selected {%endif%}> 3 </option>
                    <option value="4" {%if get_recipe.my_rating == "4" %} selected {%endif%}> 4 </option>
                    <option value="5" {%if get_recipe.my_rating == "5" %} selected {%endif%}> 5 </option>
                    <option value="6" {%if get_recipe.my_rating == "6" %} selected {%endif%}> 6 </option>
                    <option value="7" {%if get_recipe.my_rating == "7" %} selected {%endif%}> 7 </option>
                    <option value="8" {%if get_recipe.my_rating == "8" %} selected {%endif%}> 8 </option>
                    <option value="9" {%if get_recipe.my_rating == "9" %} selected {%endif%}> 9 </option>
                    <option value="10" {%if get_recipe.my_rating == "10" %} selected {%endif%}> 10 </option>
                </select>
            </div>
        </div> </br>

        <!-- This is hidden; to return number of steps to method post -->
        <input type="text" id="num-steps" name="num-steps" style="visibility: hidden;" value="{{get_recipe.number_steps}}"/> 

        <div id="steps-rows">
            {%for i in recipe_steps_num_list %}
            
            <div id="steps-block">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> <b>STEP {{loop.index}}</b> </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="step-{{i}}" value="{{get_recipe.steps[i]}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Ingredients for Step {{loop.index}} </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="ing-{{i}}" value="{{get_recipe.ingredients[i]}}" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"> Tools for step {{loop.index}} </label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="tools-{{i}}" value="{{get_recipe.tools[i]}}" />
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>

        <div class="form-group row">
            <div class="col-sm-6">
                <a href="#" id="add-step"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                <a href="#" id="minus-step"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>
                
            </div>
        </div>
        

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Photos </label>
            <div class="col-sm-6">
                {%for image in get_recipe.photos %}
                <div class="inline">
                <img src="{{image}}" alt="{{get_recipe.recipe_name}} photo" height="100" width="100">
                <input type="checkbox" id="image-{{loop.index}}" name="image-{{loop.index}}">
                </div>
                {%endfor%}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="submit" class="btn btn-primary" />
            </div>
        </div>

        

    </form>
    <a href="{{url_for('my_recipes', user_id=user_id)}}"><button class="btn btn-primary"> Back </button> </a>
    

    <script src="/static/edit_recipe.js"></script>
{%endblock%}