{% extends 'template_layout.html'%}

{%block head%}

<title>Home - Recipesuccess </title>

<link rel="stylesheet" href="/static/css/index.css" >

{%endblock%}

{%block content%}



<div class="jumbotron ">
  <h1 class="display-4" style="font-family: 'Judson', serif !important;">Recipes </h1>
  <p class="lead"> - my sweet memories and relishes and treasures</p>
  <hr class="my-4">
  <p>Keep and refer to your recipes 24/7 online. <a href="#" id="show-recipe-sample" style=" color: blue; font-size: 14px; "> Sample recipe. </a>
  Your recipe can help anyone wanting to whip up a good meal. No recipe, no fret. Check out somebody's recipes and start cooking!</p>

</div>

<div class=" row no-gutters ">
    <div class="col-md-4 col-sm-12 nav-1"> <a href="{{url_for('recipes')}}" > Uncover Treasures</a> </div>
    <div class="col-md-4 col-sm-12 nav-2"> <a href="{{url_for('login')}}" > Login to My Account </a> </div>
    <div class="col-md-4 col-sm-12 nav-3"> <a href="{{url_for('create_account')}}" > New Account </a></div>
</div>
<div class=" row no-gutters base">
&nbsp; 
</div>



<!------------------------------------------ sample body ---------------------------------------------------------->

<div id="sample-body">
    <button type="button " class="close bg-dark text-light rounded" id="close-dialog" style="margin:5px; padding-left:3px; padding-right:3px; line-height:20px;">
        <span style="vertical-align:text-top;">&times;</span>
    </button>
    <img src="../static/images/sample-recipe.jpg" alt="sample">
</div>



<script src="/static/index.js" > </script>

{%endblock%}