{% extends "template_layout.html" %}

{%block head%}

<title>Login -Recipesuccess </title>

<style>

	body {
        background-image: linear-gradient(to top, rgba(255,255,255,0),rgba(255,255,255,1)),url(/static/images/cook.jpg);
        background-size: cover;
        background-color: white;
        background-repeat: no-repeat;
        height: 100vh;
	
	}
	
</style>

{%endblock%}

{% block content %}
    
    <form method="POST">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
         
    </form> </br>
        <a href="{{url_for('recipes')}}"><button class="btn btn-primary"> Cancel </button> </a>

{%endblock%}