{% extends 'template_layout.html' %}


{%block content%}

 <h1> My Recipes </h1>

 <table class='table table-bordered'>

    <thead>
        <tr>
            <th> Index </th>
            <th> Recipe Name </th>
            <th> Cuisine </th>
            <th> My Rating </th>
            <th> date posted </th>
            <th> date last edited </th>
            <th> public rating </th>
            <th> </th>
        </tr>
    </thead>
        {%for r in get_my_recipes %}
        <tr>
            <td> {{loop.index}} </td>
            <td> {{r.recipe_name}} </td>
            <td> {{r.cuisine}} </td>
            <td> {{r.my_rating}} </td>
            <td> {{r.date_posted}} </td>
            <td> {{r.date_last_edited}} </td>
            <td> {{recipes_avg_ratings_list[loop.index0]}} </td>
            <td> <a href='{{ url_for('edit_recipe', user_id=r.user_id, recipe_id=r._id)}}'> Edit </a> <a href='#'>Delete</a> </td>
        
        </tr>
        {%endfor%}




 </table>
 <a href="{{ url_for("add_recipe", user_id=user_id)}}" style="text-decoration:none;" > <i class="fa fa-plus-square fa-lg" aria-hidden="true"></i> Add recipe </a>



{%endblock%}

