
{% extends 'template_layout.html' %}

{%block head%}

<title> Recipes - Recipesuccess</title>
<link rel="stylesheet" href="/static/public_all_recipes.css" />

{%endblock%}

{%block nav %}

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for("index")}}">Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for("login")}}">User Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for("create_account")}}">New Account</a>
        </li>
    </ul>
</div>

{% endblock %}

{%block content%}

<div class="d-flex" >
    <div class="p-2" >
        <h1> Recipes </h1>
    </div>
    <div class="p-2 ml-auto">

        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Search">
            <div class="input-group-prepend">
                <div class="input-group-text bg-primary"><a href="#" style="color:white; text-decoration:none;"><i class="fa fa-search"></i></a></div>
            </div>
        </div>

    </div>
</div>

<table class='table table-bordered'>
    <thead class='thead-light'>
        <tr>
            <th>Index</th>
            <th>
                <a href="{{url_for('sort_recipe_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Recipe Name
                <a href="{{url_for('sort_recipe_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th class="col-hide-430">
                <a  href="{{url_for('sort_cuisine_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Cuisine
                <a href="{{url_for('sort_cuisine_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th class="col-hide">From</th>
            <th class="col-hide">Country</th>
            <th class="col-hide">
                <a href="{{url_for('sort_self_rating_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Self-rating
                <a href="{{url_for('sort_self_rating_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th class="col-hide">
                <a href="{{url_for('sort_date_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Date Posted
                <a href="{{url_for('sort_date_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th>
                <a href="{{url_for('sort_ratings_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                 Ratings
                <a href="{{url_for('sort_ratings_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th> 
                <a href="{{url_for('sort_reviews_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Reviews 
                <a href="{{url_for('sort_reviews_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
        </tr>
    </thead>
        {% for r in get_recipes %}
        
        <tr>
            <td>{{loop.index}}</td>
            <td> <a href= '{{url_for('recipe_display' , recipe_id=r._id)}}'>{{r.recipe_name}}</a> </td>
            <td class="col-hide-430"> {{r.cuisine}}</td>
            {%for i in get_users %}
                {%if i._id|string() == r.user_id|string() %}
                    <td class="col-hide"> {{i.user_name}} </td>
                    <td class="col-hide"> {{i.country}}</td>
                {%endif%}
            {%endfor%}
            <td class="col-hide" style="text-align:center;"> {{r.my_rating}} </td>

            <td class="col-hide"> {{r.date_posted}} </td>
            
            <!-- {%for i in get_avg_likes %}
                {%if i._id == r._id %}
                    <td> {{i.trunclikes}} </td>
                {%endif%}
            {%endfor%} -->

            {%if r.num_reviews == 0 %}
                <td> Null </td>
            {%else%}
                <td> {{r.avg_likes}} </td>
            {%endif%}

            <td> <a href="{{url_for('reviews', recipe_id = r._id)}}">  {{r.num_reviews}} </a></td>
        </tr>
        {%endfor%}

</table>

{%endblock%}