
{% extends 'template_layout.html' %}

{%block content%}

<h1> Recipes </h1>

<table class='table table-bordered'>
    <thead class='thead-light'>
        <tr>
            <th>Index</th>
            <th>Recipe Name</th>
            <th>Cuisine</th>
            <th>Contributor</th>
            <th>Contributor's Country</th>
            <th>Date Posted</th>
            <th>Likes</th>
        </tr>
    </thead>
        {% for r in get_recipes %}
        
        1st {{r.user_id|string()}}
        <tr>
            <td>{{loop.index}}</td>
            <td> <a href= '{{url_for('recipe_display' , recipe_id=r._id)}}'>{{r.recipe_name}}</a> </td>
            <td> {{r.cuisine}}</td>
            {%for i in get_users %}
                2nd {{i._id|string()}}
                {%if i._id|string() == r.user_id|string() %}
                welcome
                    <td> {{i.user_name}} </td>
                    <td> {{i.country}}</td>
                {%endif%}
            {%endfor%}

            <td> {{r.date_posted}} </td>
            <td> </td>
        </tr>
        {%endfor%}
</table>

{%endblock%}