
{% extends 'template_layout.html' %}

{%block nav %}

<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="{{url_for("index")}}">Home </a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for("login")}}">User Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{url_for("create_account")}}">New Account</a>
        </li>
    </ul>
</div>

{% endblock %}

{%block content%}

<h1> Recipes </h1>

<table class='table table-bordered'>
    <thead class='thead-light'>
        <tr>
            <th>Index</th>
            <th>
                <a href="{{url_for('sort_recipe_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Recipe Name
                <a href="{{url_for('sort_recipe_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th>
                <a href="{{url_for('sort_cuisine_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Cuisine
                <a href="{{url_for('sort_cuisine_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th>Contributor</th>
            <th>Contributor's Country</th>
            <th>
                <a href="{{url_for('sort_date_a')}}" style="text-decoration:none;"><sup><i class="fa fa-sort-asc text-dark" aria-hidden="true"></i></sup></a>
                Date Posted
                <a href="{{url_for('sort_date_d')}}" style="text-decoration:none;"><sub><i class="fa fa-sort-desc text-dark" aria-hidden="true"></i></sub></a>
            </th>
            <th>Likes</th>
        </tr>
    </thead>
        {% for r in get_recipes %}
        
        <tr>
            <td>{{loop.index}}</td>
            <td> <a href= '{{url_for('recipe_display' , recipe_id=r._id)}}'>{{r.recipe_name}}</a> </td>
            <td> {{r.cuisine}}</td>
            {%for i in get_users %}
                {%if i._id|string() == r.user_id|string() %}
                    <td> {{i.user_name}} </td>
                    <td> {{i.country}}</td>
                {%endif%}
            {%endfor%}

            <td> {{r.date_posted}} </td>
            <td> </td>
        </tr>
        {%endfor%}
</table>

{%endblock%}